<form class="daily-form">
    <div class="select-days">
        <div>
            <label>조회 일자</label>
            <input type="radio" name="view_days" value="accumulate" /> <label>누적</label>
            <input type="radio" name="view_days" value="period" /> <label>기간별</label>
        </div>
        <div>
            <input type="date" name="day_1" /> ~ <input type="date" name="day_2" />
        </div>
    </div>

    <div class="select-other">
        <div class="platform">
            <label>플랫폼</label>
            <select>
                
                <option type="checkbox" value="hi">akhflahdf;afhd</option>
                <option type="checkbox" value="hello">bdfadfasdfasdf</option>
                <option type="checkbox" value="good">cdasdfasdfa</option>
                <option type="checkbox" value="bye">ddafsfdfsfdsa</option>
                <option type="checkbox" value="he">eadasfdsf</option>
            </select>
        </div>
        <div class="target">
            <label>지표</label>
            <select>
                
                <option type="checkbox" value="hi">f</option>
                <option type="checkbox" value="hello">g</option>
                <option type="checkbox" value="good">i</option>
                <option type="checkbox" value="bye">h</option>
                <option type="checkbox" value="he">j</option>
            </select>
        </div>
        
    </div>
    <div class="search">
        <input type="submit" value="검색" />
    </div>
</form>