<form method="get" class="forms">
    <div class="select-days">
        <div class="select-days-day">
            <label>조회 일자</label>
            <input type="radio" name="view_days" value="accumulate" /> <label>누적</label>
            <input type="radio" name="view_days" value="period" /> <label>기간별</label>
        </div>
        <div class="select-days-date">
            <input type="date" name="day_1" /> ~ <input type="date" name="day_2" />
        </div>
    </div>
    <div class="contents">
        <div class="contents-platforms">
            <button class="platform-name" value="You Tube">You Tube</button>
            <button class="platform-name" value="V Live">V Live</button>
            <button class="platform-name" value="Melon">Melon</button>
            <button class="platform-name" value="Spotify">Spotify</button>
            <button class="platform-name" value="인스타그램">인스타그램</button>
            <button class="platform-name" value="페이스북">페이스북</button>
            <button class="platform-name" value="트위터1">트위터1</button>
            <button class="platform-name" value="트위터2">트위터2</button>
            <button class="platform-name" value="Tic Tok">Tic Tok</button>
            <button class="platform-name" value="Weverse">Weverse</button>
        </div>
        <hr>
        <div class="contents-result">

        </div>
    </div>
</form>