<form class="forms">
    <div class="select-days">
        <div class="select-days-day">
            <label>조회 일자</label>
        </div>
        <div class="select-days-date">
            <input type="date" name="day" /> 
        </div>
    </div>

    <div class="select-other">
        <div class="platform">
            <label>플랫폼</label>
            <select name="platforms[]" style="width: 220px;" id="platform-select" class="form-control" multiple="multiple">
                <option>option1</option>
                <option>option2</option>
                <option>option3</option>
                <option>option4</option>
                <option>option5</option>
                <option>option6</option>
                <option>option7</option>
                <option>option8</option>
                <option>option9</option>
                <option>option10</option>
                <option>option11</option>
                <option>option12</option>
                <option>option13</option>
                <option>option14</option>
                <option>option15</option>
                <option>option16</option>
                <option>option17</option>
                <option>option18</option>
                <option>option19</option>
                <option>option20</option>
                <option>option21</option>
                <option>option22</option>
                <option>option23</option>
                <option>option24</option>
                <option>option25</option>
                <option>option26</option>
                <option>option27</option>
                <option>option28</option>
                <option>option29</option>
                <option>option30</option>
                <option>option31</option>
                <option>option32</option>
                <option>option33</option>
                <option>option34</option>
                <option>option35</option>
                <option>option36</option>
                <option>option37</option>
                <option>option38</option>
                <option>option39</option>
                </select>
        </div>
        <div class="target">
            <label>지표</label>
            <select name="targets[]" style="width: 220px;" id="target-select" class="form-control">
                <option>option1</option>
                <option>option2</option>
                <option>option3</option>
                <option>option4</option>
                <option>option5</option>
                <option>option6</option>
                <option>option7</option>
                <option>option8</option>
                <option>option9</option>
                <option>option10</option>
                <option>option11</option>
                <option>option12</option>
                <option>option13</option>
                <option>option14</option>
                <option>option15</option>
                <option>option16</option>
                <option>option17</option>
                <option>option18</option>
                <option>option19</option>
                <option>option20</option>
                <option>option21</option>
                <option>option22</option>
                <option>option23</option>
                <option>option24</option>
                <option>option25</option>
                <option>option26</option>
                <option>option27</option>
                <option>option28</option>
                <option>option29</option>
                <option>option30</option>
                <option>option31</option>
                <option>option32</option>
                <option>option33</option>
                <option>option34</option>
                <option>option35</option>
                <option>option36</option>
                <option>option37</option>
                <option>option38</option>
                <option>option39</option>
                </select>
        </div>
        
    </div>
    <div class="search">
        <input type="submit" value="검색" />
    </div>
</form>